.folder {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
}

.folder:hover {
    text-decoration: underline;
}

.file {
    color: green;
    cursor: pointer;
}

.file:hover {
    text-decoration: underline;
}

.back-link {
    color: darkgoldenrod;
    cursor: pointer;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

.file-size {
    font-size: 0.9em;
    color: #6c757d;
}